{% extends 'base.html.twig' %}

{% block title %}
    Listat
{% endblock %}

{% block body %}
    <h3>Ciao!</h3>
    <a href="{{ path('listat_project_list', {'id': 1}) }}">Vai alla lista dei progetti</a>
{% endblock %}