.container {
  margin: 0 auto;
  max-width: 960px;
}

h2 {
    color: #313131;
    margin: 10px auto 50px;
    border-bottom: solid 1px #262626;
}

h3 {
    color: #dd4444;
    margin: 10px auto 15px;
}

table > caption {
    border-left: solid 10px #dd4444;
    color: #dd4444;
    padding: 20px;
    font-size: 20pt;
    text-align: left;
}

form {
    margin: 0 10px 50px;
}

button[type='submit'] {
    font-weight: bold;
}

select {
    margin-right: 10px;
}

input[type='text'] {
    width: 350px;
}
























/*
AGOSTO 2015
lun 10  bologna->bruxelles (regionale cesena->bologna + volo ryanair blq->bru charleroi)
        bruxelles:  mar 11, mer 12, gio 13
ven 14  bruxelles->berlino (volo easyjet bru charleroi->ber schoen...)
        berlino:    sab 15, dom 16, lun 17, mar 18, mer 19, gio 20
ven 21  berlino->venezia   (volor easyjet ber schoen->ven marco polo)
sab 22  venezia->cesena    (freccia* venezia->bologna + *regionale* bologna->cesena)
*/