.container {
  margin: 0 auto;
  max-width: 960px;
}

h2 {
    color: #313131;
    margin: 10px auto 50px;
    border-bottom: solid 1px #262626;
}

h3 {
    color: #dd4444;
    margin: 10px auto 15px;
}

table > caption {
    border-left: solid 10px #dd4444;
    color: #dd4444;
    padding: 20px;
    font-size: 20pt;
    text-align: left;
}

form {
    margin: 0 10px 50px;
}

button[type='submit'] {
    font-weight: bold;
}

select {
    margin-right: 10px;
}

input[type='text'] {
    width: 350px;
}